/* * Global styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: #F5F5F5;
  font-family: 'Titillium Web', sans-serif;
}

/* *navbar styles */
.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #403d39;
  color: #ffffff !important;
  padding: 15px 60px;
}
.navbar-brand {
  color: #ffffff !important; 
}
.cart {
  position: relative;
  background-color: #ffffff;
  color: #212529;
  padding: 6px;
  font-size: 30px;
  border-radius: 4px;
}
.cartAmount {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 16px;
  background-color: #e5383b;
  color: #ffffff;
  padding: 4px;
  border-radius: 3px;
}

/* * Start of catalogue section styles */
img {
  max-width: 100%;
  height: auto;
}
ul.product_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.product_item {
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.product_sale {
  position: absolute;
  z-index: 99;
  right: -28px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product_image {
  position: relative;
  overflow: hidden;
}
.product_image img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.product_image img:hover {
  -o-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.product_title {
  float: left;
  width: 100%;
  text-transform: uppercase;
}
.product_title h5 {
  margin: auto;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 5px;
}
.product_price a {
  color: #000;
}
.price_old {
  color: #ea2e49;
  text-decoration: line-through;
}
.product_price span {
  font-size: 1.1em;
  line-height: 1;
}
.product_desc p {
    margin: 0;
    line-height: 1.3;
    padding: 10px 0;
}
.product_rating {
  float: right;
  width: 100px;
  height: 20px;
  overflow: hidden;
  background: url(https://bit.ly/1B4PjyM) top left no-repeat;
  background-position: 0 76%;
}
.product_buttons {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smooth: antialiased;
}
.product_buttons .product_remove:hover {
  color: #DF0404;
  background: rgba(255, 255, 255, 0.5);
}
.product_buttons .add_to_cart:hover {
  color: rgb(18, 150, 18);
  background: rgba(255, 255, 255, 0.5);
}

/* * Start of Cart Checkout pg  */
.text-center {
  text-align: center;
  margin: 2rem;
}
.homeBtn {
  background-color: #F8E589;
  color: #403d39;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
.bi-x-lg {
  color: #DF0404;
  font-weight: bold;
}

.shoppingCart {
  display: grid;
  grid-template-columns: repeat(1, 350px);
  justify-content: center;
  gap: 10px;
}

.cartItem {
  border: 2px solid #403d39;
}
/* * End of Cart Checkout pg  */

/* *  Start of Media Queies */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .product_sale p {
    margin: 0;
    color: #fff;
    background: #ff0000;
    padding: 3px 25px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  }
  .product_values {
    float: left;
    width: calc(100% - 100px);
    padding: 0 10px;
  }
  .product_rating {
    margin-right: 10px;
  }
  .product_image {
    height: 150px;
    float: left;
    width: 100px;
  }
  .product_desc {
    overflow: hidden;
    float: left;
    line-height: 1;
  }
  .product_values .product_buttons {
    position: relative;
    text-align: left;
    float: left;
    margin-top: 15px;
  }
  .product_values .product_buttons button {
    color: #252525;
    background: rgba(255, 255, 255, 1);
    font-size: 1em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .product_image {
    height: 250px;
    width: 175px;
  }
  .product_values {
    width: calc(100% - 175px);
  } 
}

@media only screen and (min-width: 678px) {
  .product_item {
    width: 49.5%;
  }
  .product_image {
    height: 150px;
    width: 100px;
  }  
  .product_values {
    width: calc(100% - 100px);
  }  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .product_image {
    height: 250px;
    width: 175px;
  }
  .product_values {
    width: calc(100% - 175px);
  }
  .product_desc {
    max-height: 200px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .product_item {
    width: 33%;
  }
  .product_desc {
    max-height: 131px;
  }
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .product_desc {
    max-height: 67px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .product_title h5 {
    font-weight: bold;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .product_sale {
    display: none;
  }
  .product_image img {
    position: relative;
  }
  .product_price span {
    float: left;
    width: 100%;
  }
  .product_desc {
    display: none;
  }
  .product_buttons {
    display: none;
  }
}
/* *  End of Media Queies */

/* * End of catalogue section styles */


